services:
  backend:
    container_name: hirely-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /app/node_modules # npm cache
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - app-network

  gotenberg:
    image: gotenberg/gotenberg:8
    ports:
      - "3000:3000"
     # Or more secure:
     # - "127.0.0.1:3000:3000"
     
  # frontend:
  #   container_name: hirely-frontend
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #     target: development
  #   env_file:
  #     - ./frontend/.env
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   ports:
  #     - "5173:5173"
  #   depends_on:
  #     - backend
  #   networks:
  #     - app-network

  postgres:
    image: postgres:16-alpine
    container_name: hirely-postgres
    env_file:
      - ./backend/.env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: hirely-redis
    ports:
      - "6380:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
